$color-text-dark: #3b3b3b;

// Font families

$font-family-main:'Poppins', sans-serif;
$main-font-weight:500;
// Font sizes
$font-size-sm: 0.85rem;
$font-size-normal: 1rem;
$font-size-md: 1.1rem;
$font-size-lg: 1.2rem;


